/* resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* root variables */
/* colors */

:root {
    --color-primary: #ff5722;
    --color-secondary: #ff7a50;
    --color-secondary-light: #ffa589;
    --color-seondary-bg: #fff6f2;
    --color-nav-bg: #f8f8f8;
    --color-white: #ffffff;

    /* fonts */

    --color-body: #333333;
    --color-heading: #000000;
    --color-h3: #141414;

}

html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-size: 1.4rem;
}

h1, h2 {
    color: var(--color-heading);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    color: var(--color-h3);
    font-size: 2.2rem;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.5rem;
    }
}